<% include partials/_header %>

<table class='table table-bordered table-hover'>
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE DEPARTAMENTO</th>
            <th>ID EMPLEADO</th>
            <th>CIUDAD</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0;i < departments.length ;i++) { %>
            <tr>
                <td><%= departments[i].id %></td>
                <td><%= departments[i].name %></td>
                <td><%= departments[i].id_employee %></td>
                <td><%= departments[i].city %></td>
                <td>
                    
                    
                    <a href="/links/delete/<%=departments[i].id%>" class="btn btn-danger">DELETE </a>
                    
                    <a href="/links/edit/<%=departments[i].id%>" class="btn btn-secondary">UPDATE</a>
                </td>
            </tr>
        <% } %>    
    </tbody>
</table>


<% include partials/_footer %>